<!-- templates/manage/incidents/add_incident.html -->
{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Report Incident{% endblock %}

{% block body %}
    <div class="container-fluid container-mine d-flex flex-column flex-grow-1">
        <h1>Add New Incident</h1>
        <form method="post" class="d-flex flex-column flex-grow-1">
            {% csrf_token %}
            <div class="flex-grow-1">
                {{ form|crispy }}
            </div>
            <div class="mt-auto pt-3">
                 <input type="submit" value="Add" class="btn btn-outline-primary">
                 {# *** FIX: Point href to the home URL *** #}
                 <a href="" class="btn btn-outline-secondary">Cancel</a>
            </div>
        </form>
    </div>
{% endblock %}
